@use '../../abstracts' as *;

.footer {
    background-color: $khaki;
    color: $base;
    padding: 2rem 1rem;
    font-size: 0.9rem;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    @include flex-container($direction: column, $justify: center, $align: center, $gap: 1rem);

    .logo {
        width: 50px;
        height: auto;
        fill: $cream;
        margin-bottom: 1rem;
    }

    .social {
      margin-bottom: 1rem;
      @include flex-container($gap: 1rem);

      a {
        color: $base;
        transition: color 0.2s;

        &:hover {
          color: $hover;
        }
      }
    }
  }

  .bottom {
    text-align: center;
    font-size: 0.8rem;
    color: $base;
  }
}
