@use '../abstracts' as *;

/* Reset all margins, paddings, borders */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display roles for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

/* Set default line-height */
body {
  line-height: 1.5;
  background-color: $base;
  font-size: $font-size-base;         
}

/* Reset lists */
ol,
ul {
  list-style: none;
}

/* Reset quotes */
blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

/* Reset tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Anchor tag reset */
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* Button reset */
button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

/* Image reset */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Form inputs */
input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  resize: none;
}
